.challenge2{
    background:
    linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
    linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px;

    padding-left: 10%;
}

h1{
    color: #9b59b6;
}
h1:first-child {
    background-color: yellow;
    text-align: center;
  }
h1::before {
    content: "Topic: ";
  }
  
.sub-header{
      color: #2980b9;
  }

p{
    font-size: 16px;
    font-family: Verdana;
    font-style: italic;
}
p::first-letter {
    font-size: 200%;
    color: #2980b9;
  }
