/* $$$ */
/* div{border: 1px solid red} */

body{
    margin: 0px;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
    min-height: 100vh;
    /* min-width: 100%; */
    overflow: auto;
    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #1ed760;
}

nav{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.nav-item{
    padding: 28px 17px;
    font-weight: 700;
}

main{
    height: 969px;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    padding: 20px 0;
}
/* .main-container{
    border: 5px solid black;
} */

.headline{
    color: #1ed760;
    font-size: 150px;
    font-weight: 900;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}
.headline-first{
    position: relative;
    left: -2.5em
}
.sub-headline{
    color: #1ed760;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}
.btn-area{
    text-align: center;   
}
.btn-style{
    background-color: #1ed760;
    border: #1ed760;
    color: #2941ab;
    padding: 14px 32px;
    border-radius: 500px;
    font-weight:600;
}
.btn-style:hover{
    transform: scale(1.1);
}

footer{
    flex: 1 0 auto;
    height: 530px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-container{
    /* $$$ */
    /* background-color: palegoldenrod; */
    width: 1170px;
    align-items: start;
    position: absolute;
    bottom: 50px;
    padding: 10px;
}

.footer-top{
    display: flex;
}

.footer-links{
    /* border: 3px solid #2941ab; */
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.link-title{
    color: #919496;
    font-weight: 900;
    margin: 10px 0;
}
.column>div{
    padding-bottom: 15px;
    /* font-size: 50px; */
}

.footer-top-right{
    width: 40%;
    display: flex;
    justify-content: end;
}
.footer-icons{
    display: flex;
    font-size: 24px;
}
.icon-box{
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer-bottom{
    margin-bottom: 30px;
    color: #919496;
}
.legal-links a{
    color: #919496;
    margin-right: 2em;
}
.legal-links a:hover{
    color: #1ed760;
}

.usa{
    text-align: right;
}

.legal-links{
    display: flex;
    justify-content: space-between;
    border: black;
}